@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Lato', sans-serif;
}

header {
    align-self: stretch;
    text-align: center;
    background: #171717;
    color: #ffffff;
    padding: 30px 0;

    h1,
    h2,
    p {
        margin: 0;
        font-weight: 300;
    }

    h2 {
        margin-top: 10px;
        font-size: 17px;
    }

    p {
        font-size: 14px;
    }
}

main {
    width: 100%;
}

article {
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr auto;
}

nav {
    max-width: 900px;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    p {
        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }

        &:first-child:last-child {
            text-align: center;
            transform: translateX(-5px);

            &.prev_sec::before {
                content: '←';
                padding-right: 5px;
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main>div {
    box-sizing: border-box;
    min-height: unset !important;
}