<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Site.Title}} - {{ .Title }}</title>
    {{ block "style" . }}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
    {{ end }}
    {{ block "head" . }}
    {{ end }}
</head>

<body>
    <header>
        {{ if .IsPage }}
        <h1 class="Title">{{ .Title }}</h1>
        {{ with .Site.GetPage "section" .Section }}<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>{{ end }}
        {{ else }}
        <h1 class="Title">{{ with .Site.GetPage "section" .Section }}{{ .Title }}{{ end }}</h1>
        {{ end }}

        {{ if not .IsHome }}
        <nav>
            {{ if .IsNode }}<p class="prev_sec"><a href="../">Previous Section</a></p>{{ end }}
            {{ with .PrevInSection }}<p><a href="{{ .Permalink }}">← Previous - {{ .Title }}</a></p>{{ end }}
            {{ with .NextInSection }}<p><a href="{{ .Permalink }}">Next - {{ .Title }} →</a></p>{{ end }}
        </nav>
        {{ end }}
    </header>
    <main>
        {{ block "main" . }}

        {{ end }}
    </main>
</body>

</html>