{{ define "main" }}

{{ range .Pages }}
<article>
    <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
    <p class="count">{{ slicestr .Summary 0 90 }}</p>
</article>
{{ end }}

{{ end }}