{{ define "head" }}
<style>
    .mail {
        width: 100%;
        background-color: #f5f5f5;
        padding: 15px;
        min-height: 100vh;
    }

    .mail_wrapper {
        display: block;
        max-width: 600px;
        border-radius: 3px;
        margin: 15px auto;
        color: #555;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.3px;
    }

    .mail_wrapper .logo {
        margin: 15px 0 5px;
    }

    .mail_content {
        max-width: 600px;
        box-sizing: border-box;
        padding: 20px 50px 30px;
        border: 1px solid #dde0e2;
        background-color: #fff;
    }

    .mail_content h3 {
        margin-bottom: 0;
    }

    .mail_content p {
        font-weight: 300;
    }

    .mail_content strong {
        font-weight: 700;
    }
</style>
{{ end }}
{{ define "main" }}
<div class="mail">
    <div class="mail_wrapper">
        <img class="logo" src="{{ .Params.Logo }}" alt="Wildwood Logo" />
        <div class="mail_content">
            <h3>{{ .Params.Greeting }}</h3>
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}